body{
    font-family:Arial,sans-serif;
    background:white;
    margin:0;
}

.topnav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #003566;
  position: relative;
}

.topnav a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  font-size: 17px;
  text-align: center;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav .icon {
  display: none;
}

header{
    background:#003566;
    color:white;
    padding:25px;
    text-align:center;
}

#birthdayContainer{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:20px;
    padding:30px;
}

.card{
    background:#003566;
    color: white;
    border-radius:15px;
    border-style: solid;
    border-color:#F0CB46;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
    padding:20px;
    margin-bottom:10px;
    text-align:center;
}

.card img{
    width:150px;
    height:150px;
    border-radius:50%;
    border-style: solid;
    border-color:#F0CB46;
    object-fit:cover;
}

.today{
    border:4px solid gold;
    background:#fffbe8;
}


/* Mobile */
@media screen and (max-width:600px) {

  /* Hide all links */
  .topnav a {
    display: none;
  }

  /* Show only hamburger */
  .topnav .icon {
    display: block;
    position: absolute;
    right: 15px;
    top: 0;
    color: white;
    background-color: #003566;
  }

  /* Menu after click */
  .topnav.responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
  }

  .topnav.responsive a {
    display: block;
    width: 100%;
    text-align: center;
  }

  /* Keep hamburger at top-right */
  .topnav.responsive .icon {
    position: absolute;
    top: 0;
    right: 15px;
    width: auto;
  }
}
